body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #333;
  font-family: PingFangSC-Regular, sans-serif;
  background: url('./assets/img/bg.jpg') no-repeat;
  background-size: cover;
}

p {
  background: url('./assets/img/deco.png') no-repeat;
  background-size: cover;
  height: 44px;
  width: 71px;
  margin: 10px auto;
}

ul, li {
  list-style-type: none;
  margin: 1em;
  text-align: left;
}

li {
  border-bottom: solid 1px  #333;
}

.wrapper {
  width: 30%;
  min-width: 500px;
  text-align: center;
  margin: 10% auto;
  padding: 2em;
  box-shadow: 0 0 5px 0 #333; 
  background-color: rgba(255, 255, 255, 0.8);
}

.add-items input{
    padding:10px;
    outline:0;
    border:1px solid rgba(0,0,0,0.1);
}

.add-items input[type="submit"] {
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color .2s ease-in;

}

.add-items input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.plates input[type="checkbox"] {
  display: none;
}

.plates input[type="checkbox"] + label:before {
  content: '♡';
  margin-right: 10px;
}

.plates input[type="checkbox"]:checked + label:before{
    content: '♥';
}

.plates label {
cursor: pointer;
}

.plates li {
display: flex;
}