section {
    background: url("./assets/img/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 2%;
    font-weight: 100;
    word-wrap: break-word;
}

.keys {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 5%;
}

.key {
    padding: 2em 1em;
    border: 3px solid #fff;
    min-width: 6em;
    margin: 0.75em;
    font-size: 24px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 5px #000;
    transition: all 0.07s;
}

.sound {
    display: block;
    color:#FF1493;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.playing {
    transform: scale(1.1);
    border-color: #FF1493;
    box-shadow: 0 0 10px #FF1493;
}

@media only screen and (min-width: 1025px) {
    .key {
        padding: 1.5em 1em;
        min-width: 4em;
        max-width: 4em;
        margin: 0.75em;
        font-size: 16px;
    }

    .sound {
        font-size: 12px;
    }

    h2 {
        margin-top: 20%;
    }

  }