html {
  box-sizing: border-box;
  background:#a3d3d5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 { background-image:url("./assets/img/1.jpg"); }
.panel2 { background-image:url("./assets/img/2.jpg"); }
.panel3 { background-image:url("./assets/img/3.jpg"); }
.panel4 { background-image:url("./assets/img/4.jpg"); }
.panel5 { background-image:url("./assets/img/5.jpg"); }

.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }

.panel.open-active > *:first-child, .panel.open-active > *:last-child { transform: translateY(0); }

.panel > *:last-child { transform: translateY(100%); }

.panel p {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 1.4em;
  justify-content: center;
  align-items: center;
}

.panel p:nth-child(2) {
  font-size: 2.0em;
}

.panel.open {
  flex: 5;
  font-size:40px;
  justify-content: center;
}