body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #333;
  font-family: PingFangSC-Regular, sans-serif;
  background: url('./assets/img/bg.jpg') no-repeat;
  background-size: cover;
}

.wrapper {
  width: 30%;
  min-width: 500px;
  text-align: center;
  margin: 10% auto;
  padding: 2em;
  box-shadow: 0 0 3px 0 #333; 
  background-color: rgba(255, 255, 255, 0.8);;
}

h1 {
  font-size: 1.8em;
}

ul, li {
  list-style-type: none;
  margin: 1em;
  text-align: left;
  padding-inline-start: 0px;
}

li {
  border-bottom: solid 1px  #333;
  display: flex;
  padding: 0.2em;
  letter-spacing: 1px;
  font-size: 0.7em;
}
