section {
    background: url("./assets/img/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex: 1;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 5% auto;
  position: relative;
  padding: 2rem;
  box-shadow: 
  0 0 0 4px rgba(0,0,0,0.1),
  inset 0 0 0 3px #eee,
  inset 0 0 10px #000,
  0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 6px;
  background-color: #000;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1)
}

.second-hand {
  height: 3px;
  background-color: #006633 
}

.min-hand {
  height: 5px;
  background-color: #666 
}