body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #333;
  font-family: PingFangSC-Regular, sans-serif;
  background:#ffc600;
  text-align: center;
}

h2 {
  display: block;
  margin: 5% auto;
}