body {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #333;
  font-family: PingFangSC-Regular, sans-serif;
  background:#ffc600;
}

.inbox {
  width: 25%;
  min-width: 300px;
  margin: auto auto;
  background-color: white;
  padding: 1em 2em;
  border-radius: 5px;
}

.item {
  display: flex;
  align-items: center;
}

.item:last-child {
  border-bottom: 0;
}

input:checked p {
  background: #F9F9F9;
  text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px;
}