:root {
  --base: #ffcc00;
  --spacing: 10px;
  --blur: 10px;
}

section {
  background-color: #0c574d;
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

h1 {
  margin: 0;
  padding: 5%;
}

.h1 {
  color: var(--base);
}

label {
  font-size: 1.2rem;
}


img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  height: 200px;
  margin-top: 5%;
}
