body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #333;
  font-family: PingFangSC-Regular, sans-serif;
  background-color: #ffc600;
}

.wrapper {
  width: 30%;
  min-width: 500px;
  text-align: center;
  margin: 10% auto;
  padding: 2em;
  box-shadow: 0 0 3px 0 #333; 
  background-color: white;
}

h1 {
  text-shadow: 1px 1px 2px black;
}