body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #333;
  font-family: PingFangSC-Regular, sans-serif;
  background-color: #ffc600;
}

.site-wrap {
  width: 50%;
  padding: 1em;
  margin: 0 auto;
  background-color: white;
}

.align-left {
  float: left;
  margin-right: 20px;
  transform: translateX(-30%) scale(0.95);
}
.align-right {
  float: right;
  margin-left: 20px;
  transform: translateX(30%) scale(0.95);
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
  height: 200px;
}

.active{
  opacity: 1;
  transform: translateX(0%) scale(1);
}